@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #202124;
}

.page {
  display: flex;
}

.navigation {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation-link {
  width: 200px;
  margin: 5px auto;
}

.navigation-projects {
  padding-left: 20px;
  color: #ccc;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
